<div class="calender">
  <div class="title">
    <div class="btn">
      <span class="list">列表</span>
      <span class="arrange">日历</span>
    </div>
  </div>
  <div class="tab">
    <span class="prev" (click)="tabYear(-1)"><<</span>
    <span class="left" (click)="tabMonth(-1)"><</span>
    <span class="date" (click)="backToday()">{{currentDate}}</span>
    <span class="right" (click)="tabMonth(1)">></span>
    <span class="next" (click)="tabYear(1)">>></span>
  </div>
  <table class="table">
    <tbody>
      <tr class="day">
        <td>日</td>
        <td>一</td>
        <td>二</td>
        <td>三</td>
        <td>四</td>
        <td>五</td>
        <td>六</td>
      </tr>
      <tr *ngFor="let result of results" let i="index">
        <td *ngFor="let res of result" let idx="index">
          <span (click)="onSelect(res.date)" [ngClass]="{'disable':!res.isCurMonth,'highlight':res.isCurDay,'selected':res.date==selectedIndex&&res.isCurMonth}">
                {{res.date}}</span></td>
      </tr>
    </tbody>
  </table>
</div>
